.introducing{
    border:1px solid black;
    height: 60rem;
    background-color: black;
}
.intro{
    font-size: 3.5rem;
    color: white;
    margin-top: 100px;
}
.button{
    background-color: black;
    color: white;
    margin-top: 25px;
   border: 1px solid red;
   padding: 12px;
   border-radius: 30px;
   border: 2px solid rgb(66, 2, 66);
}
.mac{
    font-size: 3.5rem;
    color: white;
    margin-top: 100px;
}
.int{
    background-color: black;  
}
.iphone14{
    border: 1px solid red;
    height: 500px;
    margin-top: 10px;
}
.iphone{
    font-size: 3.5rem;
    color: white;
}
.middle{
    height: auto;
    border: 1px solid white;
    width: 98%;
    margin: auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 4px;
    background-color: white;
}
.middle p{
    font-size: 2rem;
    color: black;
}
.middle1{
border: 3px solid black;
width: 97%;
height: auto;
margin:auto

}
.middle2{
    border: 3px solid black;
    width: 100%;
    margin: auto;
}
.middle h5{
    color: black;
}
.middle3{
    border: 1px solid white;
    width: 100%;
    background-color: aliceblue;
    color: black;
}
.middle3 p{
    color: black;
    font-size: 2rem;
    margin: auto;
}
.middle3 h5{
    color: black;
}
.macbook p{
    color: black;
    font-size: 2rem;
}
.macbook{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    gap:7px;
    background-color: white;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.macbook div{
    border: 1px solid  whitesmoke;
    height: 130px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;  
}
.macbook1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:8px;
    background-color: white;
    margin-top: 30px;
}
.macbook1 div{
    border: 1px solid  whitesmoke;
    height: 310px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;  
}
